---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-color: #5a5a5a;
$accent-color: #5ea1a0;

// fonts
$base-font-family: Helvetica, Arial, sans-serif;
$title-font-size: 48px;
$title-font-weight: 500;
$font-weight: 400;

$max-width: 1024px;
$line-height: 22px;

$on-tablet: 768px;
$on-phone: 480px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
        "home",
        "layout",
        "archive"
        // "syntax-highlighting"
;
