<header>
  <div class="header-container invert-link-color">
  <div class="noselect name-container">
    <span class="title name"><a href="/">AJ Varshneya</a></span>
    {% if page.id == 'home' %}
      <ul class="inline-list">
        <li><a href="/archive/">archive</a></li>
        <li><a href="/pictures/">pictures</a></li>
        <li><a href="https://www.linkedin.com/in/ajvarshneya/">linkedin</a></li>
        <li><a href="https://github.com/ajvarshneya">github</a></li>
      </ul>
    {% endif %}
  </div>
</div>
</header>
