.post-item {
	display: block;
    margin-bottom: 40px;
}

.post-list {
  margin: 0px auto;
  width: 50%;
}

.post-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.post-title:hover {
  text-decoration: underline;
}

.post-date {
  color: #888;
  font-size: 14px;
  margin-bottom: 15px;
}
