.post-item {
	display: block;
    padding-bottom: 40px;
	width: 100%;
	height: 100%;
}

.post-list {
	margin: 0px auto;
	width: 50%;
}

.post-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 500;
	padding-bottom: 20px;
}

.link-title:hover {
	text-decoration: underline;
}

.post-date {
	color: #888;
	font-size: $base-font-size;
	padding-bottom: 15px;
}
