.post-item {
    margin-bottom: 40px;
}

.post-list {
  list-style: none;
  margin: 0px auto;
  width: 50%;
}

.post-link {
  font-size: 30px;
  font-weight: 500;
}

.post-link:hover {
  text-decoration: underline;
}

.post-date {
  color: #888;
  font-size: 14px;
}
