* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color:  black;
}

html,
body {
  margin: 0;
  padding: 0;
}

html, body {
	height: 100vh;
	width: 100vw;
}

body {
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: $base-font-size;
	background-size: cover;
	overflow-x: hidden;
}

#canvas {
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	background-color:  black;
}

a, a:visited, a:active, a:focus {
	color: $accent-color;
	text-decoration: none;
	outline: none;
	display: inline-block;
}

.invert-link-color {
	a, a:visited, a:active, a:focus {
		color: white;
	}
	a:hover {
	  color: $accent-color;
	}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

.link-title {
	color: black;
}

/* Header name text */
header {
	font-weight: $title-font-weight;
}

.name-container {
	height: 120px;
	line-height: 120px;
	text-align: center;

	.name {
		font-size: 48px;
		letter-spacing: 15px;
		text-transform: uppercase;
	}
}

@include media-query($on-tablet) {
	.name-container {
		height: 100px;
		line-height: 100px;
		.name {
			font-size: 36px;
			letter-spacing: 10px;
		}
		.inline-list {
			font-size: $base-font-size;
		}
	}
}

@include media-query($on-phone) {
	.name-container {
		height: 80px;
		line-height: 80px;
		.name {
			font-size: 24px;
		}
	}
}
