#home-container {
	text-align: center;
	line-height: 30px;
}

/* Header: name/nav styling */
#nav-container {
	.inline-list {
		list-style: none;
		font-weight: 700;
	  	li {
			display: inline-block;
			padding: 0 10px 5px 10px;
		}
	}
}

#home-text {
	margin: 20px 0;
}
