header {
  height: 140px;
}

.main-container {
  height: calc(100% - 220px);
  background-color: white;
  padding: 40px;
  margin: 0 auto;
  box-sizing: content-box;

  font-size: 20px;

  color: black;
  a {
    color: black;
  }
}
