---
layout: default
---
<div class="content-container">
	<div class="content">
		{% for album in site.data.pictures %}
			{% if album.id == page.id %}
				{% for image in album.images %}
					{% capture mod %}{{ forloop.index | modulo: 3 }}{% endcapture %}
					{% capture negativeMod %}{{ 3 | minus: mod }}{% endcapture %}

					{% if mod == '1' %}
					<div class="thumb-container">
					{% endif %}

					<div class="thumb">
						<a href="{{ album.path }}/{{ image.name }}" title="{{ image.text }}">
							<img src="{{ album.path }}/{{ image.thumb }}">
				        </a>
					</div>

					{% if forloop.last %}
						{% for num in (1..negativeMod) %}
						<div class="thumb"></div>
						{% endfor %}
					{% endif %}

					{% if mod == '0' or forloop.last %}
					</div>
					{% endif %}

			    {% endfor %}
			{% endif %}
		{% endfor %}
	</div>
</div>
