---
layout: default
---
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="home">

  <!--<h1 class="page-heading"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>-->
	<div id="contact-container">
		<div id="contact-icons-container">
			<div class="contact-icon">
				<a href="http://www.github.com/ajvarshneya" target="_blank">
					<i class="fa fa-github fa-lg"></i>
				</a>
			</div>
			<div class="contact-icon">
				<a href="skype:ajvarshneya?call">
					<i class="fa fa-skype fa-lg"></i>
				</a>
			</div>
			<div class="contact-icon">
				<a href="https://plus.google.com/u/0/+AJVarshneya/" target="_blank">
					<i class="fa fa-google-plus-square fa-lg"></i>
				</a>
			</div>
			<div class="contact-icon">
				<a href="https://www.linkedin.com/in/ajvarshneya" target="_blank">
					<i class="fa fa-linkedin-square fa-lg"></i>
				</a>
			</div>
			<div class="contact-icon">
				<a href="mailto:ajvarshneya@gmail.com">
					<i class="fa fa-envelope fa-lg"></i>
				</a>
			</div>
		</div>
	</div>


  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
