<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/ajvarshneya/av64.png">
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
	{% if layout.footer == nil or layout.footer == true %}
    	{% include footer.html %}
	{% endif %}
  </body>

</html>

